<!-- Start home-about Area -->
<section class="home-about-area section-gap" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 pb-30 header-text text-center">
          <h1 class="mb-10">About Us</h1>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-12 col-md-12 home-about-left">
          <h6>Brand new app to blow your mind</h6>
          <h3>
            We’ve made a life <br>
            that will change you
          </h3>
          <p class="sub">We are here to listen from you deliver exellence</p>
          <p class="pb-20">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
          </p>
        </div>
      </div>
      <div class="row">
          <div class="row justify-content-center text-center">
            <div class="col-lg-12 col-md-12 home-about-left">
              <h3>Our Capturing Market Sectors</h3>
              <p class="sub">Who are in extremely love with eco friendly system..</p>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                  <div class="thumb">
                    <img src="assets/img/s1.jpg" alt="">
                  </div>
                  <h4>Automotive Engineering</h4>
                  <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="single-service">
                  <div class="thumb">
                    <img src="assets/img/s2.jpg" alt="">
                  </div>
                  <h4>Construction & Engineering</h4>
                  <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="single-service">
                  <div class="thumb">
                    <img src="assets/img/s3.jpg" alt="">
                  </div>
                  <h4>Industrial Engineering</h4>
                  <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                  </p>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  <!-- End home-about Area -->
